* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 34pt;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.fila {
    display: flex;
}

.contenedor > .fila > img {
    width: 200px;
}