* {
    margin: 0;
    padding: 0;
}

.titular {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2,0,36);;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(197,7,47,1) 0%, rgba(228,70,105,1) 100%);
}

.titular > img{
    width: 60px;
    margin-right: 20px;
}

h1 {
    font-size: 34pt;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.fila {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.contenedor > .fila > img {
    width: 130px;
}

@media only screen and (max-width: 768px) {
    .contenedor > .fila > img {
        width: 90px;
    }
}