* {
    margin: 0;
    padding: 0;
}

.titular {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titular > img{
    width: 90px;
}

h1 {
    font-size: 34pt;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.fila {
    display: flex;
}

.contenedor > .fila > img {
    width: 110px;
}
